
body{
    background-color: rgb(228, 221, 10);
}
.layer1{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
header{
    background-color: black;
    height: 20%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    
}
nav a img{
    padding: 10px;

}
#tryJavascript{
    position: absolute;
    left: 50%;
    top:30%;
    color: white;
    background-color: rgb(255, 111, 135);
    padding: 20px;
    text-decoration: none;

}
.dropDownList{
    height: 100px;
    display: none;
    z-index: 2;
}

#tryJavascript:hover .dropDownList{
    display: block ; 

}
.leftNav{
    position: absolute;
    left: 67%;
    top: 27%;
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.leftNav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
}
.container{
    margin-top: 10%;
    width: 900px;
    height: 300px;

}
.container p{
    font-size: 50px;
}
#reversed{
    color: rgb(228, 221, 10); 
    background-color: black;
    padding: 20px;
    width: min-content;
}
.container p i b{
    font-size: 50px;
}
.line{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.onDemand{
    padding:50px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    color: yellow;

}
.boxes{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
}
.box1{
    width: 40%;
}
.box2{
    width: 40%;
}
.box3{
    position: relative;
    margin-left: 10%;
    width: 90%;
}
#quantity{
    width: 100%;
    height: 25px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
#time{

    width: 100%;
    height: 25px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
#date{

    width: 100%;
    height: 25px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
button{
    float: right;
}
.BlackBox{
    width: 80%;
    height: 300px;
    background-color: black;
    color: aliceblue;
    margin-top: 20px;
}